mixin editReviewModal(isModal)
    .addReview-modal(class=isModal ? 'modal' : '')
      .form-styles
          span.addReview__close.btn--close &times;
          form.form.form-review
              .form__group.ma-bt-md
                  label.form__label(for='rating') Rating
                  input#review-rating-input.form__input(name='rating' type='number', placeholder='1..5', required, minlength='1')
              .form__group
                  label.form__label(for='review') Share Your Feedback 
                  textarea#review-feedback-input.form__input(name="review" type='text', placeholder='We’d love to hear about your experience!', required)
              .form__group
                  button#review-button.btn.btn--green Submit