include includes/modals/_modal
include includes/modals/_actionModal
doctype html
html(lang="en")
    head
      block head 
          meta(charset='UTF-8')
          meta(name='viewport', content='width=device-width,initial-scale=1.0')
          //- meta(http-equiv="Content-Security-Policy" content="script-src 'self' https://unpkg.com; style-src 'self' https://unpkg.com https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;")
          //- CSS
          link(rel='stylesheet', href='/css/style.css')
          link(rel='stylesheet', href='/css/mediaqueries.css')
          //- Fonts
          link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
          //- Icon
          link(rel='shortcut icon' type='image/png' href='/img/branding/favicon.png')
          title Natours | #{title}

    body 
        //- Header
        include partials/_header


        //- Modal edit Review
        +modal("editReview-modal","Reviews")
          include includes/_editReviewForm
        //- Inherits _modal  deleteReview-modal
        +action-modal("Delete Review", [
          "Are you sure you want to delete this review?"
        ], 'warning',"deleteReviewBtn")
        //- Content
        block content

        //- Footer
        include partials/_footer 
        //- script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        //- script(src='/js/mapbox.js')
        //- script(src='/js/login.js')
           //- Stripe
        script(src="https://js.stripe.com/v3/")
        script(src='/dist/bundle.js')
