extends base


block content 
  main.main
    .form-styles
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form-login
        .form__group
          label.form__label(for='email') Email address
          input#login-email.form__input(type='email', placeholder='sophie@example.com', required value='sophie@example.com')
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#login-password.form__input(type='password', placeholder='123456789', required, minlength='8' value='123456789')
        .form__group
          button#login-button.btn.btn--green Login