extends ../base
include ../includes/_reviewCard
include ../includes/modals/_modal

block content
  main.main
    h2.heading-secondary.ma-bt-lg= title
    .card-container

      if reviews.length > 0 
        each review in reviews
          +reviewCard(review)

      else
        .notFoundContainer
          p.notFoundContainer_message You have no reviewed tours.
          .row
            a(href="/")
              button.btn.btn--green Discover Tours
            a(href="/me")
              button.btn.btn--green Back to Profile
